name: Build APK

on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      # محیط آماده Buildozer رسمی (تست‌شده توسط Kivy)
      - name: Build using official Kivy Buildozer container
        uses: kivy/buildozer-action@v1
        with:
          buildozer_version: stable
          command: android debug

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: PomodoroApp
          path: bin/*.apk
