      # 4. Install Buildozer
      - name: Install Buildozer
        run: |
          pip install --upgrade pip
          pip install buildozer cython==0.29.33

      # 5. Build APK (Debug Mode - Safe & Fast)
      - name: Build APK (Debug Mode)
        run: |
          yes | buildozer android debug

      # 6. Upload Artifact
      - name: Upload Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: pomodoro-debug
          path: bin/*.apk
