name: Build Android APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libltdl-dev libffi-dev libssl-dev git zip unzip autoconf libtool pkg-config zlib1g-dev

      - name: Install Buildozer and Cython
        run: |
          pip install --upgrade pip
          pip install buildozer cython==0.29.33

      - name: Build APK with Buildozer
        run: |
          # The 'yes' command automatically accepts the license agreement
          yes | buildozer -v android debug

      - name: Upload APK Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pomopulse-debug
          path: bin/*.apk
