name: Build
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. دریافت کدها
      - uses: actions/checkout@v4

      # 2. نصب جاوا (برای بیلد اندروید الزامی است)
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      # 3. نصب پایتون
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # 4. نصب نیازمندی‌های سیستمی (لیست کامل و نهایی برای کامپایل)
      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libffi-dev libssl-dev python3-dev git zip unzip autoconf automake libtool pkg-config zlib1g-dev cmake libltdl-dev autopoint

      # 5. نصب بیلدوزر
      - name: Install Buildozer
        run: |
          pip install --upgrade pip
          pip install buildozer cython==0.29.33

      # 6. ساخت فایل APK (نسخه Debug - بدون دردسر)
      - name: Build APK (Debug Mode)
        run: |
          yes | buildozer android debug

      # 7. آپلود فایل خروجی
      - name: Upload Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: pomodoro-debug
          path: bin/*.apk
